- uses: Swatinem/rust-cache@v2

    - name: Install `mdbook`
      run: cargo install mdbook@0.4.52


    - name: Install `mdbook-i18n-helpers`
      run: cargo install mdbook-i18n-helpers@0.3.6

    - name: Install `mdbook-linkcheck`
      run: cargo install mdbook-linkcheck@0.7.7
